/* Header/Nav */

.center-child {
    width: 85%;
    margin: 0 auto;
}

header {
    margin: 0;
    height: 10vh;
    background: rgba(38, 21, 77, .8);
}

header h1 {
    font-family: copperplate;
    text-shadow: 2px 2px #290087;
    margin-left: 2rem;
    font-size: 1.2em;
    color: #fff;
}

.header-name {
    padding-top: 18px;
    margin-left: 1em;
}

ul {
    padding: 5px 0 0 0;
    margin-right: 5px;
}

.nav-link {
    color: white;
    text-shadow: 2px 2px #290087;
    font-size: 1.2em;
    font-family: copperplate;
}

/* Hero */

.hero {
    margin: 0;
    margin-top: -50px;
    height: 91vh;
    background: linear-gradient(to right, rgba(38, 21, 77, 0.8), rgba(38, 21, 77, 0.8)), 
                url("../img/ottawa-night.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-h1 {
    font-family: 'Zilla Slab', serif;
    color: #3272db;
    padding-top: 80px;
    margin-bottom: -4px;
}

.hero-h2 {
    font-family: 'Zilla Slab', serif;
    color: white;
}

.lead {  /* Hero Paragraph */
    padding-top: 35px;
    color: white;
    font-size: 1.2em;
    margin-top: -7px;
}

.work-btn,
.contact-btn {
    background-color: #ff4040;
    height: 55px;
    width: 250px;
    margin-top: 30px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
}

.work-btn:hover {
    background: #3272db;
}

button a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

/* Projects */
.container-fluid {
    margin: 75px 0;
}

.project-jumbo-title {
    text-align: center;
}

.jumbo-div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.projects-jumbo-p {
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
}

.card {
    margin: 2rem 0.25rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.card img {
    height: 40vh;
}

.card-header {
    padding-top: 0;
    padding-left: 5px;
    background: none;
    border: none;
}

.card-text {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.card-icons {
    margin-left: auto;
}

/* About */
.about-pic {
    border-radius: 50%;
}

.about-h1 {
    font-family: 'Zilla Slab', serif;
    color: #3272db;
    padding-top: 75px;
}

.accordion {
    padding-top: 3em;
}

.col-lg-6 {  /* Accordion */
    width: 85%;
    text-align: center;
}

.about-parent {
    background: #200030
}

.social {
    text-align: center;
    padding: 15px 0 55px 0;
}

.social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.social > a:hover {
    opacity: 0.9;
}

/* Footer */
.footer-basic {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    background-color: #24002b;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
}

.left-footer p {
    font-family: copperplate;
    margin: auto 0;
    margin: 20px;
}

.footer-basic ul {
    padding: 0 15px 0 0;
    margin: auto 0;
    list-style: none;
    font-family: copperplate;
    font-size: 18px;
    line-height: 1.6;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}


/* Sub Pages */
.project-page-main {
    font-family: 'Zilla Slab', serif;
    color: #3272db;
}

.project-page-title {
    margin: 3em;
    text-align: center;
}

.project-page-nutshell {
    margin: auto 0;
    text-align: center;
}

.intro-nutshell {
    padding: 20px 0;
}

.project-page-code {
    padding: 3em 0 0 0;
}

.code-h3 {
    padding-left: 20px;
    margin-bottom: 0;
}
