/* Base Styles */
header {
    margin: 0;
}

header h1 {
    font-family: copperplate;
    text-shadow: 2px 2px #290087;
    margin-left: 2rem;
    font-size: 1.2em;
    color: #fff;
}

div.intro {
  width:100%;
  overflow:hidden;
}

/* Slide-in Intro */
div.intro p {
  animation: slide-left 3s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 65%;
  }
}

section {
    margin: 0 5px;
}

.nav-link {
    font-size: 1.2em;
    font-family: copperplate;
}
.nav {
    margin-right: 2em;
}

h1 {
    padding-top: 10px;
    margin-left: 17px;
    font-size: 20px;
}

/* Class Selectors */
.display-5 {
    font-family: copperplate;
    font-size: 50px;
}

.carousel-section {
    max-height: 100vh;
    max-width: auto;
}

.projects {
    margin-top: 5em;
}

.projects h1 {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: #851F43 3px solid;
}

.nav-link {
    color: white;
    text-shadow: 2px 2px #290087;
}

.hero {
    margin: 0;
    margin-top: -117px;
    height: 100vh;
    background: url("../img/ottawa-night.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    margin: 2rem 0;
}

.quote {
    margin-top: 5em;
}

.lead {
    color: white;
    text-shadow: 2px 2px #290087;
    font-weight: bolder;
    font-size: 35px;
    margin-top: -7px;
    width: 65vw;
}

.px-4 {
    margin-top: 0;
} 

/* Footer */
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer-basic ul {
padding: 0;
list-style: none;
text-align: center;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
}

.footer-basic li {
padding: 0 10px;
}

.footer-basic ul a {
color: inherit;
text-decoration: none;
opacity: 0.8;
}

.footer-basic ul a:hover {
opacity: 1;
}

.footer-basic .social {
text-align: center;
padding-bottom: 25px;
}

.footer-basic .social > a {
font-size: 24px;
width: 40px;
height: 40px;
line-height: 40px;
display: inline-block;
text-align: center;
border-radius: 50%;
border: 1px solid #ccc;
margin: 0 8px;
color: inherit;
opacity: 0.75;
}

.footer-basic .social > a:hover {
opacity: 0.9;
}

.footer-basic .copyright {
margin-top: 15px;
text-align: center;
font-size: 13px;
color: #aaa;
margin-bottom: 0;
}

/* Projects Sub Page */

.project-jumbo-title {
    color: #fff;
}

.project-body {
    background-color: darkblue;
}

.projects-header {
    background-color: #fff;
}

.jumbo-div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.projects-jumbo-p {
    color: #fff;
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
}

.projects-footer{
    margin-top: 10px;
    background-color: #e2e2e2;
}

.project-nav {
    color: #1313c2;
    text-shadow: 1px 1px #fff;
}

.card {
    background-color: #cce0ff;
}

.card-img-top {
    border: double 7px #e2e2e2; 
}

.card-header {
    display: flex;
    height: 50px;
    background: linear-gradient(to right,#0040a6 0%, white 100%);
    padding-left: 5px;
}

.card-title {
    font-family: 'Zilla Slab', serif;
    color: white;
    font-size: 24px;
    padding-top: 2px;
}

.card-text {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    padding-top: 12px;
}

.card-icons {
    margin-left: auto;
}

/* Contact Sub Page */

.about-nav {
    background-color: #212529;
}

.contact-nav {
    color: white;
}

.about-pic {
    border-radius: 50%;
}

.accordion-item { 
    text-align: center;
}

h2 {
    color: #1313c2;
}

.accordion-body {
    background-image: url(../star-background.jpeg);
    height: 40vh;
}