/* Header/Nav */
header {
    margin: 0;
    min-height: 10vh;
    background: #24002b;
}

header h1 {
    display: none;
}

.header-name {
    padding-top: 18px;
    padding-right: 0;
    margin-left: 1em;
}

header ul {
    padding-top: 8px;
}

.nav-link {
    color: white;
    text-shadow: 2px 2px #290087;
    font-size: 1em;
    font-family: copperplate;
}

/* Hero */

.hero {
    margin: 0;
    margin-top: -50px;
    min-height: 91vh;
    background: linear-gradient(to right, rgba(38, 21, 77, 0.8), rgba(38, 21, 77, 0.8)), 
                url("../img/ottawa-night.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text {
    margin-top: 3em;
}

.hero-h1 {
    font-family: 'Zilla Slab', serif;
    color: #3272db;
    padding-top: 30px;
    margin-bottom: -4px;
}

.hero-h2 {
    font-family: 'Zilla Slab', serif;
    color: white;
}

.lead {  /* Hero Paragraph */
    padding-top: 35px;
    color: white;
    font-size: 1.2em;
    margin-top: -7px;
}

.work-btn,
.contact-btn {
    background-color: #ff4040;
    height: 55px;
    width: 250px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
}

.work-btn:hover {
    background: #3272db;
}

button a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #A9A9A9;
}

/* Projects */
.row {
    max-width: 100%;    
}

.container-fluid {
    margin: 75px 0;
}

.project-jumbo-title {
    text-align: center;
}

.jumbo-div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.projects-jumbo-p {
    font-size: 20px;
    padding: 0 1em 1.5em ;
    text-align: center;
}

.card {
    margin: 2rem 0.25rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.card img {
    height: 40vh;
}

.card-header {
    padding-top: 0;
    padding-left: 1px;
    background: none;
    border: none;
}

.card-text {
    font-size: 1.1em;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    padding-left: 1px;
}

.skill-list-div {
    display: flex;
    justify-content: space-evenly;
}

.skill-list1 li,
.skill-list2 li {
    list-style-type: none;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.skill-list1 li:nth-of-type(2n+1),
.skill-list2 li:nth-of-type(2n+1) {
    background: #24002b;
    color: #fff;
}

.carousel {
    border: rgba(38, 21, 77, 0.8) 3px solid;
    margin: 4em 0;
}

/* About */
.about-pic {
    border-radius: 50%;
}

.contact-h1 {
    font-family: 'Zilla Slab', serif;
    color: #3272db;
    margin-bottom: 0;
    padding-top: 75px;
}

.fs-5 { /*About paragraph*/
    font-size: 1.1em!important;
}

.contact-p {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.accordion {
    padding-top: 3em;
}

.col-lg-6 {  /* Accordion */
    width: 75%;
}

.accordion-body {
    text-align: left; 
}

.skills-bullet {
   margin: 4em 0;
}

.work-skills {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.passion-list,
.passion-div {
    padding-top: 1em;
}

.no-bullet {
    list-style-type: none;
    padding-right: 2em;
}

.about-parent {
    background: #200030
}

.social {
    text-align: center;
    padding: 15px 0 55px 0;
}

.social > a {
    font-size: 55px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 25px 30px 0 30px;
    color: inherit;
    opacity: 0.75;
}

.social > a:hover {
    opacity: 0.9;
}

/* Footer */
.footer-basic {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;;
    background-color: #24002b;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
}

.left-footer p {
    font-family: copperplate;
    width: 50vw;
    margin: 20px;
}

.footer-basic ul {
    padding: 0 15px 0 0;
    margin: auto 0;
    list-style: none;
    font-family: copperplate;
    font-size: 18px;
    line-height: 1.6;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
}

.footer-basic ul a:hover {
    color: #0d6efd;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
    opacity: 1;
}


          /************************************* Sub Pages *************************************/
/* Opening Section */
.project-page-main {
    background: url(../img/icon_background.png);
    background-position: right;
}

.project-page-intro,
.project-page-takeaway {
    margin-top: 2em;
    border: rgba(38, 21, 77, 0.8) solid 5px;
    border-radius: 10px;
}

.project-page-intro,
.project-page-takeaway {
    background:rgba(38, 21, 77, 0.1)  
}

h1 {
    font-family: 'Zilla Slab', serif;
}

.project-page-title {
    margin: 2em;
    font-size: 30px;
    font-family: 'Zilla Slab', serif;
    font-weight: bolder;
    text-align: center;
}

.intro {
    padding: 20px 0;
    display: grid;
    grid-template-rows: .5fr .25fr;
}

.project-page-pic {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}

.project-page-pic img {
    border: 1px solid #000;
    margin-left: 1em;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.project-page-description {
    display: flex;
    margin: 2em 1em;
    font-size: large;
    padding: auto;
    color: rgba(38, 21, 77);
}

p {
    margin: 0;
}

.project-page-description p {
    width: 65%;
    text-align: left;
}

/* The Code Section */
.project-page-code {
    padding: 3em 0 0 0;
}

.code-h3 {
    padding-left: 20px;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    margin-bottom: 0;
}

.snippets {
    justify-content: center;
}

div .card .bg-dark{
    max-width: 40vw;
    margin-right: 20px;
}

.snippets img {
    opacity: .6;
    min-height: 100%;
    width: 100%;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
}

.p1 {
    padding-right: 5%;
}

.p2 {
    margin-top: auto;
    padding-left: 5%;
    text-align: end;
}

/* Media Queries */
@media only screen and (min-width: 320px) {
    .left-footer p{
        margin-left: 5px;
        max-width: 65%;
    }

    .footer-basic ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .list-inline-item {
        padding: 0 5px 0 0;
        padding-right: 0!important;
        margin-right: 0!important;
    }

    header .row ul {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-link {
        font-size: 1em;
        padding: 8px 12px;
    }

    .row {
        margin-left: 0!important;
    }

    .skill-list1 li,
    .skill-list2 li {
        max-width: 80%;
    }

    .skill-list-div {
        padding-left: 2em;
    }

    .work-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }

    .project-page-pic img {
        max-width: 60%;
        max-height: 70%;
    }

    .snippets {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .card-divs {
        justify-content: center;
    }

    .footer-basic ul {
        flex-direction: row;
    }

    .list-inline-item {
        margin-left: 20px;
    }

    header .row ul {
        display: flex;
        justify-content: flex-end;
    }

    header h1 {
        display: inline-block;
        font-family: copperplate;
        text-shadow: 2px 2px #290087;
        margin-left: 2rem;
        font-size: 1.2em;
        color: #fff;
    }
    
    .nav-link {
        font-size: 1.2em;
    }

    .snippets {
        display: flex;
        flex-direction: row;
    }

    .project-page-pic img {
        max-width: 60%;
        max-height: 100%;
    }

    .skill-list1 li,
    .skill-list2 li {
        max-width: 100%;
    }

    .skill-list-div {
        padding-right: 2em;
    }

    .work-skills {
        flex-direction: row;
        max-width: 100%;  
    }
}
